<div style="margin-top: 250px">
    <section class="py-7 py-md-0 bg-hero" id="home">
      <div class="container">
        <div class="row vh-md-100">
          <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
            <h1 class="heading-black text-capitalize">Auctoporium</h1>
            <p class="lead py-3">Get Your Best Deals on Auctoporium,<b>Start Bidding Now!!!</b></p>
            <button
              type="button"
              class="btn btn-success d-inline-flex flex-row align-items-center"
              (click)="Login()"
            >
              Get started 
              <em class="ml-2" data-feather="arrow-right"></em>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
  